<ul id="sdt_menu" class="sdt_menu">
  <li>
    <a href="http://dominion.johnepperson.com:8080">
      <img src="https://s3.amazonaws.com/dominate-gaming/crystal_scar-small.png"
        onload="var elem=this;setTimeout(function(){elem.onload = null;elem.src=elem.getAttribute('src');}, 0);">
      <span class="sdt_active"></span>
      <span class="sdt_wrap">
        <span class="sdt_link">Crystal Scar</span>
        <span class="sdt_descr">Dominate Dominion</span>
      </span>
      <div class="sdt_box">
        <a href="http://dominategaming.johnepperson.com:8080/articles">Articles</a>
        <a href="http://dominategaming.johnepperson.com:8080/videos">Videos</a>
        <a href="http://dominategaming.johnepperson.com:8080/tournaments">Tournaments</a>
      </div>
    </a>
  </li>
  <li>
    <a href="http://summoners_rift.johnepperson.com:8080">
      <img alt="" src="https://s3.amazonaws.com/dominate-gaming/summoners_rift-small.jpg">
      <span class="sdt_active"></span>
      <span class="sdt_wrap">
        <span class="sdt_link">Summoner's Rift</span>
        <span class="sdt_descr">Dominate Summoner's Rift</span>
      </span>
    </a>
    <div class="sdt_box">
      <a href="http://dominategaming.johnepperson.com:8080/articles">Articles</a>
        <a href="http://dominategaming.johnepperson.com:8080/videos">Videos</a>
        <a href="http://dominategaming.johnepperson.com:8080/tournaments">Tournaments</a>
    </div>
  </li>
  <li>
    <a href="http://twisted_treeline.johnepperson.com:8080">
      <img alt="" src="https://s3.amazonaws.com/dominate-gaming/twisted_treeline-small.png">
      <span class="sdt_active"></span>
      <span class="sdt_wrap">
        <span class="sdt_link">Twisted Treeline</span>
        <span class="sdt_descr">Dominate Twisted Treeline</span>
      </span>
    <div class="sdt_box">
      <a href="http://dominategaming.johnepperson.com:8080/articles">Articles</a>
        <a href="http://dominategaming.johnepperson.com:8080/videos">Videos</a>
        <a href="http://dominategaming.johnepperson.com:8080/tournaments">Tournaments</a>
    </div>
    </a>
  </li>
</ul>